<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Dashboard</title>
    <!-- Bootstrap core CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/dashboard.css}" type="text/css">
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
</head>

<body>
<!-- Navigation Bar Start -->
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Inventory Tracker</a>
    <input aria-label="Search" class="form-control form-control-dark w-100" placeholder="Search" type="text">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>
<!-- Navigation Bar End -->
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar Start -->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">
                            <span data-feather="home"></span>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/order">
                            <span data-feather="file"></span>
                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product">
                            <span data-feather="shopping-cart"></span>
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/customer">
                            <span data-feather="users"></span>
                            Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/supplier">
                            <span data-feather="anchor"></span>
                            Suppliers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/report">
                            <span data-feather="bar-chart-2"></span>
                            Reports
                        </a>
                    </li>

                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Saved reports</span>

                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="/report/monthly">
                            <span data-feather="file-text"></span>
                            Current month
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/report/quarter">
                            <span data-feather="file-text"></span>
                            Last quarter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/report/social">
                            <span data-feather="file-text"></span>
                            Social engagement
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/report/yearly">
                            <span data-feather="file-text"></span>
                            Year-end sale
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Sidebar End -->

        <!-- Main Content Start -->
        <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" role="main">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>

            <div id="main">
                <script th:inline="javascript">
                    window.onload = function () {

                        var chart = new CanvasJS.Chart("chartContainer", {
                            animationEnabled: true,
                            theme: "light2",
                            axisY: {
                                title: "Price of Order",
                            },
                            axisX: {
                                interval: 1,
                                intervalType: "day" + "/" + "month" + "/" + "year",
                                title: "Order Date (Last 10 Days)",
                                labelangle: -45,
                                suffix: " /" + (new Date().getMonth() + 1),
                            },
                            title: {
                                text: "Orders Line Chart"
                            },
                            data: [{
                                type: "line",
                                indexLabelFontSize: 16,
                                dataPoints: [
                                    {x: new Date().getDate() - 10, y: [[${y0}]]},
                                    {x: new Date().getDate() - 9, y: [[${y1}]]},
                                    {x: new Date().getDate() - 8, y: [[${y2}]]},
                                    {x: new Date().getDate() - 7, y: [[${y3}]]},
                                    {x: new Date().getDate() - 6, y: [[${y4}]]},
                                    {x: new Date().getDate() - 5, y: [[${y5}]]},
                                    {x: new Date().getDate() - 4, y: [[${y6}]]},
                                    {x: new Date().getDate() - 3, y: [[${y7}]]},
                                    {x: new Date().getDate() - 2, y: [[${y8}]]},
                                    {x: new Date().getDate() - 1, y: [[${y9}]]},
                                    {x: new Date().getDate(), y: [[${y10}]]}
                                ]
                            }]
                        });
                        chart.render();

                    }
                </script>
                <div id="chartContainer" style="height: 370px; width: 100%;"></div>

                <div class="row">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th>Service</th>
                            <th>Daily</th>
                            <th>This Week</th>
                            <th>This Month</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Orders</td>
                            <td th:text="${todayOrderCount}"/>
                            <td th:text="${last7DaysOrderCount}"/>
                            <td th:text="${last30DaysOrderCount}"/>
                            <td th:text="${totalOrderCount}"/>
                        </tr>
                        <tr>
                            <td>Products</td>
                            <td th:text="${todayProductCount}"/>
                            <td th:text="${last7DaysProductCount}"/>
                            <td th:text="${last30DaysProductCount}"/>
                            <td th:text="${totalProductCount}"/>
                        </tr>
                        <tr>
                            <td>Customers</td>
                            <td th:text="${todayCustomerCount}"/>
                            <td th:text="${last7DaysCustomerCount}"/>
                            <td th:text="${last30DaysCustomerCount}"/>
                            <td th:text="${totalCustomerCount}"/>
                        </tr>
                        <tr>
                            <td>Suppliers</td>
                            <td th:text="${todaySupplierCount}"/>
                            <td th:text="${last7DaysSupplierCount}"/>
                            <td th:text="${last30DaysSupplierCount}"/>
                            <td th:text="${totalSupplierCount}"/>
                        </tr>
                        </tbody>
                    </table>


                </div>


            </div>

        </main>
        <!-- Main Content Start -->

    </div>
</div>


<div id="scripts">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script crossorigin="anonymous"
            integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA=="
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>


    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
</div>
</body>
</html>
